<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bdhero002-atk1-0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,1282},{240,132}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,184},{240,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-atk1-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,394},{384,168}}</string>
                <key>offset</key>
                <string>{27,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,150},{384,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-atk1-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,200}}</string>
                <key>offset</key>
                <string>{22,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,119},{432,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-atk1-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2826},{194,154}}</string>
                <key>offset</key>
                <string>{31,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,162},{194,154}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-atk1-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1186},{264,148}}</string>
                <key>offset</key>
                <string>{83,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,169},{264,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-atk1-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{410,194}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,125},{410,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-atk1-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,614},{368,186}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,133},{368,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-atk1-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,766},{386,174}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,145},{386,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-atk1-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2132},{316,168}}</string>
                <key>offset</key>
                <string>{-25,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,151},{316,168}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-atk2-0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2692},{204,152}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,165},{204,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-atk2-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2936},{180,166}}</string>
                <key>offset</key>
                <string>{-42,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,150},{180,166}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-atk2-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,2096},{248,172}}</string>
                <key>offset</key>
                <string>{-39,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,145},{248,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-atk2-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2518},{266,172}}</string>
                <key>offset</key>
                <string>{-57,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,143},{266,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-atk2-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,200},{396,190}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,131},{396,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-atk2-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{414,196}}</string>
                <key>offset</key>
                <string>{17,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,127},{414,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-atk2-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,392},{392,220}}</string>
                <key>offset</key>
                <string>{10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,101},{392,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-atk2-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,582},{388,182}}</string>
                <key>offset</key>
                <string>{14,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,136},{388,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-die-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,1524},{126,272}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,49},{126,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-die-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2660},{140,206}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,117},{140,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-die-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1452},{146,206}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,117},{146,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-die-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2618},{156,206}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{156,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-die-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2538},{160,206}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,117},{160,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-die-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3018},{174,194}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,129},{174,194}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-die-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,870},{278,72}}</string>
                <key>offset</key>
                <string>{62,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,264},{278,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-die-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,624},{278,66}}</string>
                <key>offset</key>
                <string>{65,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,272},{278,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-die-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,564},{278,56}}</string>
                <key>offset</key>
                <string>{67,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,281},{278,56}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-hit-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1836},{174,164}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,158},{174,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-run2-0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2846},{198,170}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,160},{198,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-run2-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,3122},{166,174}}</string>
                <key>offset</key>
                <string>{29,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,162},{166,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-run2-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,3020},{158,180}}</string>
                <key>offset</key>
                <string>{26,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,158},{158,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-run2-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2012},{174,186}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,153},{174,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-run2-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2360},{176,188}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,157},{176,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-run2-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2826},{158,182}}</string>
                <key>offset</key>
                <string>{25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,162},{158,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-run2-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1660},{164,174}}</string>
                <key>offset</key>
                <string>{28,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,162},{164,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-run2-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2188},{190,170}}</string>
                <key>offset</key>
                <string>{20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,159},{190,170}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-stand2-0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2860},{198,158}}</string>
                <key>offset</key>
                <string>{37,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,161},{198,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-stand2-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2802},{200,158}}</string>
                <key>offset</key>
                <string>{39,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,161},{200,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-stand2-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2700},{202,158}}</string>
                <key>offset</key>
                <string>{37,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,161},{202,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-stand2-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2776},{198,158}}</string>
                <key>offset</key>
                <string>{35,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,161},{198,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-stand2-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2776},{194,158}}</string>
                <key>offset</key>
                <string>{35,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,161},{194,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdhero002-stand2-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2962},{196,158}}</string>
                <key>offset</key>
                <string>{35,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,161},{196,158}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk1-0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1486},{294,330}}</string>
                <key>offset</key>
                <string>{-32,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,71},{294,330}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk1-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2106},{276,316}}</string>
                <key>offset</key>
                <string>{-43,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,59},{276,316}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk1-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1548},{340,312}}</string>
                <key>offset</key>
                <string>{-54,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,48},{340,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk1-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1186},{312,346}}</string>
                <key>offset</key>
                <string>{-21,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,11},{312,346}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk1-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,558},{388,360}}</string>
                <key>offset</key>
                <string>{-33,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{388,360}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk1-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,564},{304,380}}</string>
                <key>offset</key>
                <string>{9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,9},{304,380}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk1-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{422,418}}</string>
                <key>offset</key>
                <string>{39,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,17},{422,418}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk1-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,198},{408,358}}</string>
                <key>offset</key>
                <string>{43,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,65},{408,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk1-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{430,390}}</string>
                <key>offset</key>
                <string>{35,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,74},{430,390}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk2-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1282},{348,264}}</string>
                <key>offset</key>
                <string>{-32,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{348,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk2-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,920},{360,258}}</string>
                <key>offset</key>
                <string>{-34,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,105},{360,258}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk2-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1060},{352,348}}</string>
                <key>offset</key>
                <string>{-30,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,17},{352,348}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk2-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,802},{364,256}}</string>
                <key>offset</key>
                <string>{-36,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,109},{364,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk2-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,232},{352,348}}</string>
                <key>offset</key>
                <string>{-30,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{352,348}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk2-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{354,330}}</string>
                <key>offset</key>
                <string>{-31,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,33},{354,330}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk2-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,942},{352,338}}</string>
                <key>offset</key>
                <string>{-30,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{352,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk2-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1180},{352,304}}</string>
                <key>offset</key>
                <string>{-30,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,59},{352,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk2-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{352,342}}</string>
                <key>offset</key>
                <string>{-30,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,21},{352,342}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-atk2-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,870},{354,314}}</string>
                <key>offset</key>
                <string>{-31,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,49},{354,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-die-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{342,246}}</string>
                <key>offset</key>
                <string>{-79,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{342,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-die-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,2836},{282,282}}</string>
                <key>offset</key>
                <string>{-54,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,43},{282,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-die-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2802},{280,302}}</string>
                <key>offset</key>
                <string>{-51,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,19},{280,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-die-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,2574},{276,260}}</string>
                <key>offset</key>
                <string>{-53,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,61},{276,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-die-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2042},{272,306}}</string>
                <key>offset</key>
                <string>{-28,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,15},{272,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-die-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1548},{324,232}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,115},{324,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-die-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1640},{328,176}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,187},{328,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-die-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1500},{342,156}}</string>
                <key>offset</key>
                <string>{28,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,209},{342,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-hit-0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1862},{336,268}}</string>
                <key>offset</key>
                <string>{-35,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,66},{336,268}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-run2-0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1782},{214,310}}</string>
                <key>offset</key>
                <string>{-54,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,0},{214,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-run2-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,1798},{218,296}}</string>
                <key>offset</key>
                <string>{-55,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,29},{218,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-run2-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1782},{214,324}}</string>
                <key>offset</key>
                <string>{-52,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,23},{214,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-run2-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1884},{220,322}}</string>
                <key>offset</key>
                <string>{-58,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,39},{220,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-run2-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1410},{228,342}}</string>
                <key>offset</key>
                <string>{-61,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,26},{228,342}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-run2-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,2},{228,350}}</string>
                <key>offset</key>
                <string>{-61,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,11},{228,350}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-run2-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1658},{224,340}}</string>
                <key>offset</key>
                <string>{-61,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,2},{224,340}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-run2-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1818},{222,322}}</string>
                <key>offset</key>
                <string>{-58,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-run2-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2302},{214,310}}</string>
                <key>offset</key>
                <string>{-54,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,0},{214,310}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-stand2-0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2302},{304,236}}</string>
                <key>offset</key>
                <string>{-34,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,100},{304,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-stand2-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,2270},{302,240}}</string>
                <key>offset</key>
                <string>{-33,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,96},{302,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-stand2-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2384},{302,274}}</string>
                <key>offset</key>
                <string>{-33,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,62},{302,274}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-stand2-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2316},{302,300}}</string>
                <key>offset</key>
                <string>{-33,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,36},{302,300}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-stand2-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1998},{302,306}}</string>
                <key>offset</key>
                <string>{-33,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,30},{302,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-stand2-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2502},{302,298}}</string>
                <key>offset</key>
                <string>{-33,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,37},{302,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-stand2-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2540},{302,284}}</string>
                <key>offset</key>
                <string>{-33,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,52},{302,284}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-stand2-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,1998},{304,264}}</string>
                <key>offset</key>
                <string>{-34,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,72},{304,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bdmonster055-stand2-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,2264},{304,236}}</string>
                <key>offset</key>
                <string>{-34,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,100},{304,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero002_sprites.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12cf763d5c29b5270072e25e654b743a:1/1$</string>
            <key>textureFileName</key>
            <string>hero002_sprites.png</string>
        </dict>
    </dict>
</plist>
